#board {
	display: grid;
	background-color: green;
	height: min(100vw, 100vh);
	width: min(100vw, 100vh);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
}

* {
	margin: 0;
	padding:0;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.square {
	display: flex;
	align-items: center;
	justify-content: center;
}

.square--image {
	width: 100%;
}

#promotion_menu {
	position: absolute;
	top: 50%;
	width: min(100vw, 100vh);
	transform: translate(0, -50);
	background-color: rgba(76, 76, 76, 0.5);
	display: flex;
	align-items: center;
	justify-content: space-around;
}
